name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-action:
    name: GitHub Actions Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Test Local Action
        id: test-action

        uses: ./

      - name: Test action with plugins
        id: test-action-with-plugins
        uses: ./
        with:
          wash-version: "wash-v2.0.0-rc.7"
          plugins: "ghcr.io/wasmcloud/wash-plugins/blobstore-filesystem:0.1.0"
